/* commonStyles.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.content{
  max-width: 100%;
  width: 82%;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

header {
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

header p {
  margin: 5px 0;
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

nav a:hover {
  background-color: #34495e;
}
section {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Additional styling for Experience.js, Skills.js, Projects.js */
.skill-item,
.project-item,
.experience-card {
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.skill-item:hover,
.project-item:hover,
.experience-card:hover {
  transform: translateY(-5px);
}

.skill-item h3,
.project-item h3,
.experience-card h2 {
  color: #333;
  margin-bottom: 10px;
}

.skill-item p,
.project-item p,
.experience-card ul {
  color: #555;
}

.number-circle {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-right: 10px;
  font-weight: bold;
}

.boxModal{
  width: 50%;
  height: 50%;
  border: 1px solid;
  position: fixed;
  z-index: 1;
  background-color: wheat;
}
.modalData{
  margin: 10px;
  padding: 10px;
}
.modalHeader{
  margin: 10px;
  padding: 10px;
}