/* commonStyles.css */

.nav-link {
  color: black;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.nav-link.active {
  color: red; /* Change color when active */
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.exp-content,
.skill-content,
.projects-content {
  scroll-margin-top: 181px;
  max-width: 100%;
  width: 86%;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.app-content {
  padding: 20px;
}
:root {
  --color-text-secondary: black; /* Define your custom CSS variable */
}

section {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Additional styling for Experience.js, Skills.js, Projects.js */
.skill-item,
.project-item,
.experience-card {
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.skill-item:hover,
.project-item:hover,
.experience-card:hover {
  transform: translateY(-5px);
}

.skill-item h3,
.project-item h3,
.experience-card h2 {
  color: #333;
  margin-bottom: 10px;
}

.skill-item p,
.project-item p,
.experience-card ul {
  color: #555;
}

.number-circle {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-right: 10px;
  font-weight: bold;
}
